<%-include('layouts/head')%> <%-include('layouts/navbar')%>
<div class="w-full">
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img
          class="w-full h-full object-cover z-10"
          src="https://res.cloudinary.com/djy3vgwfi/image/upload/v1698721259/mcpjifkv8mmmofdvi5r9.png"
          alt="banner2"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="w-full h-full object-cover z-10"
          src="https://res.cloudinary.com/djy3vgwfi/image/upload/v1705562876/kxyngcys4dq7dhauevlh.png"
          alt="banner2"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="w-full h-full object-cover z-10"
          src="https://res.cloudinary.com/djy3vgwfi/image/upload/v1698721259/mcpjifkv8mmmofdvi5r9.png"
          alt="banner2"
        />
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
  <div class="max-w-7xl mx-auto">
    <div class="w-full">
      <div
        class="bg-white flex flex-col space-y-10 lg:space-y-0 lg:flex-row lg:justify-between lg:items-center lg:h-[110px] px-5 lg:py-0 py-10"
      >
        <div>
          <div class="flex space-x-4 items-center">
            <div>
              <span>
                <svg
                  width="36"
                  height="36"
                  viewBox="0 0 36 36"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1H5.63636V24.1818H35"
                    stroke="rgb(20, 53, 195)"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="square"
                  ></path>
                  <path
                    d="M8.72763 35.0002C10.4347 35.0002 11.8185 33.6163 11.8185 31.9093C11.8185 30.2022 10.4347 28.8184 8.72763 28.8184C7.02057 28.8184 5.63672 30.2022 5.63672 31.9093C5.63672 33.6163 7.02057 35.0002 8.72763 35.0002Z"
                    stroke="rgb(20, 53, 195)"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="square"
                  ></path>
                  <path
                    d="M31.9073 35.0002C33.6144 35.0002 34.9982 33.6163 34.9982 31.9093C34.9982 30.2022 33.6144 28.8184 31.9073 28.8184C30.2003 28.8184 28.8164 30.2022 28.8164 31.9093C28.8164 33.6163 30.2003 35.0002 31.9073 35.0002Z"
                    stroke="rgb(20, 53, 195)"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="square"
                  ></path>
                  <path
                    d="M34.9982 1H11.8164V18H34.9982V1Z"
                    stroke="rgb(20, 53, 195)"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="square"
                  ></path>
                  <path
                    d="M11.8164 7.18164H34.9982"
                    stroke="rgb(20, 53, 195)"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="square"
                  ></path>
                </svg>
              </span>
            </div>
            <div>
              <p class="text-black text-[15px] font-semibold mb-1">
                Miễn phí vận chuyển
              </p>
              <p class="text-sm text-qgray">
                Khi đặt hàng trị giá trên
                <a class="text-red-500 font-bold">1.000.000 VNĐ</a>
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="flex space-x-4 items-center">
            <div>
              <span>
                <svg
                  width="32"
                  height="34"
                  viewBox="0 0 32 34"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M31 17.4502C31 25.7002 24.25 32.4502 16 32.4502C7.75 32.4502 1 25.7002 1 17.4502C1 9.2002 7.75 2.4502 16 2.4502C21.85 2.4502 26.95 5.7502 29.35 10.7002"
                    stroke="rgb(20, 53, 195)"
                    stroke-width="2"
                    stroke-miterlimit="10"
                  ></path>
                  <path
                    d="M30.7 2L29.5 10.85L20.5 9.65"
                    stroke="rgb(20, 53, 195)"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="square"
                  ></path>
                </svg>
              </span>
            </div>
            <div>
              <p class="text-black text-[15px] font-semibold mb-1">
                Hoàn trả miễn phí
              </p>
              <p class="text-sm text-qgray">Nhận hoàn trả trong vòng 30 ngày</p>
            </div>
          </div>
        </div>
        <div>
          <div class="flex space-x-4 items-center">
            <div>
              <span>
                <svg
                  width="32"
                  height="38"
                  viewBox="0 0 32 38"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M22.6654 18.667H9.33203V27.0003H22.6654V18.667Z"
                    stroke="rgb(20, 53, 195)"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="square"
                  ></path>
                  <path
                    d="M12.668 18.6663V13.6663C12.668 11.833 14.168 10.333 16.0013 10.333C17.8346 10.333 19.3346 11.833 19.3346 13.6663V18.6663"
                    stroke="rgb(20, 53, 195)"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="square"
                  ></path>
                  <path
                    d="M31 22C31 30.3333 24.3333 37 16 37C7.66667 37 1 30.3333 1 22V5.33333L16 2L31 5.33333V22Z"
                    stroke="rgb(20, 53, 195)"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="square"
                  ></path>
                </svg>
              </span>
            </div>
            <div>
              <p class="text-black text-[15px] font-semibold mb-1">
                Thanh toán an toàn
              </p>
              <p class="text-sm text-qgray">
                Thanh toán trực tuyến an toàn 100%
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="flex space-x-4 items-center">
            <div>
              <span>
                <svg
                  width="32"
                  height="35"
                  viewBox="0 0 32 35"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7 13H5.5C2.95 13 1 11.05 1 8.5V1H7"
                    stroke="rgb(20, 53, 195)"
                    stroke-width="2"
                    stroke-miterlimit="10"
                  ></path>
                  <path
                    d="M25 13H26.5C29.05 13 31 11.05 31 8.5V1H25"
                    stroke="rgb(20, 53, 195)"
                    stroke-width="2"
                    stroke-miterlimit="10"
                  ></path>
                  <path
                    d="M16 28V22"
                    stroke="rgb(20, 53, 195)"
                    stroke-width="2"
                    stroke-miterlimit="10"
                  ></path>
                  <path
                    d="M16 22C11.05 22 7 17.95 7 13V1H25V13C25 17.95 20.95 22 16 22Z"
                    stroke="rgb(20, 53, 195)"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="square"
                  ></path>
                  <path
                    d="M25 34H7C7 30.7 9.7 28 13 28H19C22.3 28 25 30.7 25 34Z"
                    stroke="rgb(20, 53, 195)"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="square"
                  ></path>
                </svg>
              </span>
            </div>
            <div>
              <p class="text-black text-[15px] font-semibold mb-1">
                Chất lượng tốt nhất
              </p>
              <p class="text-sm text-qgray">Đảm bảo sản phẩm chính hãng</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="max-w-7xl mx-auto rounded-md">
    <div class="relative flex justify-between items-center py-4 pl-4">
      <div
        class="border-l-1 border-gray-300 bg-opacity-70 text-gray-700 font-semibold text-lg leading-7"
      >
        DANH MỤC NỔI BẬT
      </div>
    </div>
    <div class="py-4 pl-4">
      <div class="flex flex-wrap gap-[16px] text-center items-center">
        <% menu.forEach(function(data) { %>
        <div class="flex flex-grow flex-shrink flex-1 items-center">
          <a href="#" class="cursor-pointer">
            <div
              class="relative inline-block overflow-hidden h-[56px] w-[56px]"
            >
              <img
                alt="logo"
                src="<%-data.logo%>"
              />
            </div>
            <div
              class="p-0 opacity-1 text-[15px] font-[400] leading-[24px] overflow-hidden"
            >
            <%-data.name%>
            </div>
          </a>
        </div>
        <%})%>

      </div>
    </div>
    <div
      class="relative flex justify-between px-4 items-center h-14 bg-white rounded-md"
    >
      <a href="#" class="no-underline text-transparent cursor-pointer">
        <div
          type="title"
          class="border-l-1 border-gray-300 bg-opacity-70 text-gray-700 font-semibold text-lg leading-7 overflow-hidden whitespace-normal transition duration-300 ease-in-out delay-0s"
        >
          SẢN PHẨM NỔI BẬT
        </div>
      </a>
      <a href="#">
        <div class="flex space-x-2 items-center">
          <p class="text-base font-semibold text-black">Xem thêm</p>
          <span>
            <svg
              width="17"
              height="14"
              viewBox="0 0 17 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.0225 6.00243C13.9998 6.03738 13.9772 6.06941 13.9545 6.10436C13.8724 6.10727 13.7904 6.11601 13.7083 6.11601C9.93521 6.11601 6.16215 6.11601 2.38909 6.11601C1.87111 6.11601 1.35313 6.10728 0.835147 6.12475C0.351131 6.14514 0.00863998 6.51501 0.000148475 6.981C-0.00834303 7.45864 0.3483 7.83725 0.837977 7.8722C0.956858 7.88094 1.07857 7.87511 1.20028 7.87511C5.33565 7.87803 9.46818 7.87803 13.6035 7.88094C13.7253 7.88094 13.8498 7.88094 13.9715 7.88094C14.0026 7.93627 14.031 7.9887 14.0621 8.04403C13.9404 8.12267 13.7988 8.18383 13.697 8.28576C12.3355 9.67499 10.9797 11.0671 9.62669 12.4651C9.26155 12.8437 9.25306 13.3767 9.58423 13.732C9.91823 14.0902 10.4419 14.099 10.8127 13.7233C12.7855 11.702 14.7556 9.6779 16.7199 7.64794C17.0907 7.26351 17.0851 6.73053 16.7171 6.34901C14.7697 4.33652 12.8167 2.32987 10.858 0.329035C10.7278 0.195063 10.5466 0.0873038 10.3683 0.0319679C10.0088 -0.0757916 9.63235 0.116428 9.44554 0.451356C9.26438 0.78046 9.31533 1.20859 9.60687 1.51148C10.6768 2.62111 11.7524 3.72492 12.8308 4.82581C13.2271 5.2219 13.6262 5.60925 14.0225 6.00243Z"
                fill="white"
              ></path>
              <path
                d="M14.0225 6.00241C13.6262 5.60923 13.2243 5.22188 12.8336 4.82288C11.7552 3.72199 10.6796 2.61818 9.60971 1.50855C9.31816 1.20566 9.26721 0.77753 9.44837 0.448427C9.63518 0.113498 10.0116 -0.0787213 10.3711 0.0290382C10.5466 0.0814617 10.7278 0.192134 10.8608 0.326105C12.8195 2.32694 14.7697 4.33359 16.7199 6.34608C17.0879 6.72469 17.0936 7.26058 16.7228 7.64501C14.7584 9.67497 12.7884 11.6991 10.8155 13.7203C10.4475 14.0989 9.92106 14.0873 9.58706 13.7291C9.25589 13.3737 9.26155 12.8408 9.62952 12.4622C10.9825 11.0642 12.3383 9.67206 13.6998 8.28284C13.8017 8.1809 13.9404 8.11974 14.0649 8.0411C14.0338 7.98577 14.0055 7.93334 13.9743 7.87801C13.8526 7.87801 13.7281 7.87801 13.6064 7.87801C9.47101 7.8751 5.33848 7.8751 1.20311 7.87218C1.0814 7.87218 0.962519 7.87801 0.840808 7.86927C0.3483 7.84015 -0.00834304 7.45862 0.00014847 6.98098C0.00863998 6.515 0.351131 6.14512 0.832316 6.12764C1.3503 6.10726 1.86828 6.11891 2.38626 6.11891C6.16215 6.11599 9.93521 6.11599 13.7083 6.11599C13.7904 6.11599 13.8724 6.10726 13.9574 6.10143C13.9772 6.0694 13.9998 6.03445 14.0225 6.00241Z"
                fill="black"
              ></path>
            </svg>
          </span>
        </div>
      </a>
    </div>
    <div
      class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5 gap-1 py-2"
      id="product"
    >
    </div>
    <div class="mt-[1rem] opacity-1">
      <div class="w-full text-center opacity-1">
        <div class="inline-flex">
          <button
            class="bg-gray-200 z-[1] w-[2rem] h-[2rem] flex justify-center items-center rounded-[0.25rem] border border-solid border-[rgb(228, 229, 240)]"
            id="prevPage"
          >
            <svg
              fill="none"
              viewBox="0 0 24 24"
              size="16"
              color="placeholder"
              height="16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.5 5L8.5 12L15.5 19"
                stroke="#82869E"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </button>
          <div id="pages_list" class="flex items-center">
         </div>
          <button
          id="nextPage"

            class="bg-gray-200 ml-[0.5rem] z-[1] w-[2rem] h-[2rem] flex justify-center items-center rounded-[0.25rem] border border-solid border-[rgb(228, 229, 240)]"
          >
            <svg
              fill="none"
              viewBox="0 0 24 24"
              size="16"
              color="placeholder"
              height="16"
              width="16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.5 19L15.5 12L8.5 5"
                stroke="#82869E"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include('layouts/footer')%> 
<%-include('layouts/script')%>
<script>
  var mySwiper = new Swiper('.swiper', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
    },
  });
  
  let pages = 1;
let totalPages= 0;
$.ajax({
    url: '/api/product/list?page=1',
    type: 'get',
    dataType: 'json',
    statusCode: {
        500: function() {
            FuiToast.error('500 status code! server error');
        },
    },
    success: (data) => {
        $("#pages_list").empty(); // Clear existing buttons before appending new ones
        totalPages =  data.totalPages;
        for (let i = 1; i <= data.totalPages; i++) {
            $("#pages_list").append(`
                <button page-check="${i}" class="ml-[0.5rem] z-[1] w-[2rem] h-[2rem] flex justify-center items-center rounded-[0.25rem] ${pages == i ? 'bg-blue-700 text-white' : 'bg-white'}  border border-solid border-[rgb(228, 229, 240)]">
                    <div class="m-0 p-0 opacity-1 text-[13px] leading-[24px] overflow-hidden">
                        ${i}
                    </div>
                </button>            `);
        }

        data.list.forEach(function(obj) {
            var giamgia = "";

            if (obj.discount.value != 0) {
                giamgia = `
                    <div class="flex h-4">
                        <div class="m-0.25 opacity-100 text-gray-500 font-normal text-sm leading-4 overflow-hidden overflow-ellipsis line-through mt-1">
                            ${obj.price.main.text}
                        </div>
                        <div class="opacity-100 text-blue-500 font-normal text-sm leading-4 overflow-hidden overflow-ellipsis ml-2 mt-1">
                            -${obj.discount.value} ${(obj.discount.type == "%") ? "%" : "đ"}
                        </div>
                    </div>`;
            }

            $("#product").append(`
                <div class="bg-white p-2 flex flex-col h-full">
                    <div class="relative w-full h-full p-2 flex flex-col bg-white justify-between">
                        <div class="relative flex-1 flex-grow-0 flex-shrink-0 mb-2">
                            <div class="relative mb-1">
                                <div class="relative pb-[100%]">
                                    <div class="inline-block overflow-hidden h-full w-full transition-transform duration-300 ease-in-out absolute inset-0 object-contain">
                                        <a href="/${obj.path}/views">
                                            <img src="${obj.thumbnail[0].src}" class="absolute top-0 left-0 absolut w-full h-full object-contain" alt="${obj.thumbnail[0].alt}" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div class="border-gray-300 opacity-100 text-gray-500 font-semibold text-base leading-[20px] overflow-hidden whitespace-nowrap overflow-ellipsis transition duration-300 ease-in-out delay-0s">
                                    ${obj.mark.name}
                                </div>
                            </div>
                            <div class="border-gray-300 opacity-100 text-gray-600 font-normal leading-4 overflow-hidden">
                                <a href="/${obj.path}/views">
                                    <h3 class="text-base font-normal leading-4 overflow-hidden truncate">
                                        ${obj.name}
                                    </h3>
                                </a>
                            </div>
                            <div class="relative mt-1 mb-1 pr-0 flex items-center">
                                <div class="flex flex-col items-start h-12">
                                    <div class="opacity-100 text-blue-700 font-bold text-xl leading-6 overflow-hidden whitespace-normal overflow-ellipsis mt-1">
                                        ${obj.price.total.text}
                                    </div>
                                    ${giamgia}
                                </div>
                                <div class="ml-auto mr-3">
                                  <a href="/${obj.path}/views">
                                        <button class="w-8 h-8 text-[#1435c3] border-[1px] border-blue-400 rounded-full p-[11px] flex-shrink-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="7" width="7" style="transform: scale(2.5)">
                                                <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" fill="currentColor" />
                                            </svg>
                                        </button>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `);
        });
    }
});

  
  $("#nextPage").click(function(e){
    var num =$(".bg-blue-700[page-check]").attr("page-check");
    num =Number(num);
    if(num == totalPages){
      FuiToast.error('đã xem thêm hết trang không thể xem thêm tiếp');
    }else{
      num =num +1;
      $.ajax({
        url: '/api/product/list?page=' + num,
        type: 'get',
        dataType: 'json',
        statusCode: {
            500: function() {
                FuiToast.error('500 status code! server error');
            },
        },
        success: (data) => {
            $("#pages_list").empty(); // Clear existing buttons before appending new ones
            totalPages =  data.totalPages;

            for (let i = 1; i <= data.totalPages; i++) {
                $("#pages_list").append(`
                    <button type="button" page-check="${i}" class="ml-[0.5rem] z-[1] w-[2rem] h-[2rem] flex justify-center items-center rounded-[0.25rem] ${num == i ? 'bg-blue-700 text-white' : 'bg-white'}  border border-solid border-[rgb(228, 229, 240)]">
                        <div class="m-0 p-0 opacity-1 text-[13px] leading-[24px] overflow-hidden">
                            ${i}
                        </div>
                    </button>
                `);
            }

            $("#product").empty(); // Clear existing product items before appending new ones

            data.list.forEach(function(obj) {
                var giamgia = "";

                if (obj.discount.value != 0) {
                    giamgia = `
                        <div class="flex h-4">
                            <div class="m-0.25 opacity-100 text-gray-500 font-normal text-sm leading-4 overflow-hidden overflow-ellipsis line-through mt-1">
                                ${obj.price.main.text}
                            </div>
                            <div class="opacity-100 text-blue-500 font-normal text-sm leading-4 overflow-hidden overflow-ellipsis ml-2 mt-1">
                                -${obj.discount.value} ${(obj.discount.type == "%") ? "%" : "đ"}
                            </div>
                        </div>`;
                }

                $("#product").append(`
                    <div class="bg-white p-2 flex flex-col h-full">
                        <div class="relative w-full h-full p-2 flex flex-col bg-white justify-between">
                            <div class="relative flex-1 flex-grow-0 flex-shrink-0 mb-2">
                                <div class="relative mb-1">
                                    <div class="relative pb-[100%]">
                                        <div class="inline-block overflow-hidden h-full w-full transition-transform duration-300 ease-in-out absolute inset-0 object-contain">
                                            <a href="/${obj.path}/views">
                                                <img src="${obj.thumbnail[0].src}" class="absolute top-0 left-0 absolut w-full h-full object-contain" alt="${obj.thumbnail[0].alt}" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            <div class="mb-1">
                                <div class="border-gray-300 opacity-100 text-gray-500 font-semibold text-base leading-[20px] overflow-hidden whitespace-nowrap overflow-ellipsis transition duration-300 ease-in-out delay-0s">
                                    ${obj.mark.name}
                                </div>
                            </div>
                            <div class="border-gray-300 opacity-100 text-gray-600 font-normal leading-4 overflow-hidden">
                                <a href="/${obj.path}/views">
                                    <h3 class="text-base font-normal leading-4 overflow-hidden truncate">
                                        ${obj.name}
                                    </h3>
                                </a>
                            </div>
                                <div class="relative mt-1 mb-1 pr-0 flex items-center">
                                    <div class="flex flex-col items-start h-12">
                                        <div class="opacity-100 text-blue-700 font-bold text-xl leading-6 overflow-hidden whitespace-normal overflow-ellipsis mt-1">
                                            ${obj.price.total.text}
                                        </div>
                                        ${giamgia}
                                    </div>
                                    <div class="ml-auto mr-3">
                                        <a href="/${obj.path}/views">
                                        <button class="w-8 h-8 text-[#1435c3] border-[1px] border-blue-400 rounded-full p-[11px] flex-shrink-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="7" width="7" style="transform: scale(2.5)">
                                                <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" fill="currentColor" />
                                            </svg>
                                        </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `);
            });
        }

    });

    }
  })
  $("#prevPage").click(function(e){
    var num =$(".bg-blue-700[page-check]").attr("page-check");
    num =Number(num);
    if(num == 1){
      FuiToast.error('đã quay lại lại hết trang không thể quay lại tiếp');
    }else{
      num =num -1;
      $.ajax({
        url: '/api/product/list?page=' + num,
        type: 'get',
        dataType: 'json',
        statusCode: {
            500: function() {
                FuiToast.error('500 status code! server error');
            },
        },
        success: (data) => {
            $("#pages_list").empty(); // Clear existing buttons before appending new ones
            totalPages =  data.totalPages;

            for (let i = 1; i <= data.totalPages; i++) {
                $("#pages_list").append(`
                    <button type="button" page-check="${i}" class="ml-[0.5rem] z-[1] w-[2rem] h-[2rem] flex justify-center items-center rounded-[0.25rem] ${num == i ? 'bg-blue-700 text-white' : 'bg-white'}  border border-solid border-[rgb(228, 229, 240)]">
                        <div class="m-0 p-0 opacity-1 text-[13px] leading-[24px] overflow-hidden">
                            ${i}
                        </div>
                    </button>
                `);
            }

            $("#product").empty(); // Clear existing product items before appending new ones

            data.list.forEach(function(obj) {
                var giamgia = "";

                if (obj.discount.value != 0) {
                    giamgia = `
                        <div class="flex h-4">
                            <div class="m-0.25 opacity-100 text-gray-500 font-normal text-sm leading-4 overflow-hidden overflow-ellipsis line-through mt-1">
                                ${obj.price.main.text}
                            </div>
                            <div class="opacity-100 text-blue-500 font-normal text-sm leading-4 overflow-hidden overflow-ellipsis ml-2 mt-1">
                                -${obj.discount.value} ${(obj.discount.type == "%") ? "%" : "đ"}
                            </div>
                        </div>`;
                }

                $("#product").append(`
                    <div class="bg-white p-2 flex flex-col h-full">
                        <div class="relative w-full h-full p-2 flex flex-col bg-white justify-between">
                            <div class="relative flex-1 flex-grow-0 flex-shrink-0 mb-2">
                                <div class="relative mb-1">
                                    <div class="relative pb-[100%]">
                                        <div class="inline-block overflow-hidden h-full w-full transition-transform duration-300 ease-in-out absolute inset-0 object-contain">
                                            <a href="/${obj.path}/views">
                                                <img src="${obj.thumbnail[0].src}" class="absolute top-0 left-0 absolut w-full h-full object-contain" alt="${obj.thumbnail[0].alt}" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
      <div class="mb-1">
                                <div class="border-gray-300 opacity-100 text-gray-500 font-semibold text-base leading-[20px] overflow-hidden whitespace-nowrap overflow-ellipsis transition duration-300 ease-in-out delay-0s">
                                    ${obj.mark.name}
                                </div>
                            </div>
                            <div class="border-gray-300 opacity-100 text-gray-600 font-normal leading-4 overflow-hidden">
                                <a href="/${obj.path}/views">
                                    <h3 class="text-base font-normal leading-4 overflow-hidden truncate">
                                        ${obj.name}
                                    </h3>
                                </a>
                            </div>
                                <div class="relative mt-1 mb-1 pr-0 flex items-center">
                                    <div class="flex flex-col items-start h-12">
                                        <div class="opacity-100 text-blue-700 font-bold text-xl leading-6 overflow-hidden whitespace-normal overflow-ellipsis mt-1">
                                            ${obj.price.total.text}
                                        </div>
                                        ${giamgia}
                                    </div>
                                    <div class="ml-auto mr-3">
                                        <a href="/${obj.path}/views">
                                        <button class="w-8 h-8 text-[#1435c3] border-[1px] border-blue-400 rounded-full p-[11px] flex-shrink-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="7" width="7" style="transform: scale(2.5)">
                                                <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" fill="currentColor" />
                                            </svg>
                                        </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `);
            });
        }

    });

    }
  })
  $(document).on("click", "[page-check]", function(e) {
    $.ajax({
        url: '/api/product/list?page=' + $(this).attr("page-check"),
        type: 'get',
        dataType: 'json',
        statusCode: {
            500: function() {
                FuiToast.error('500 status code! server error');
            },
        },
        success: (data) => {
            $("#pages_list").empty(); // Clear existing buttons before appending new ones

            for (let i = 1; i <= data.totalPages; i++) {
                $("#pages_list").append(`
                    <button type="button" page-check="${i}" class="ml-[0.5rem] z-[1] w-[2rem] h-[2rem] flex justify-center items-center rounded-[0.25rem] ${$(this).attr("page-check") == i ? 'bg-blue-700 text-white' : 'bg-white'}  border border-solid border-[rgb(228, 229, 240)]">
                        <div class="m-0 p-0 opacity-1 text-[13px] leading-[24px] overflow-hidden">
                            ${i}
                        </div>
                    </button>
                `);
            }

            $("#product").empty(); // Clear existing product items before appending new ones

            data.list.forEach(function(obj) {
                var giamgia = "";

                if (obj.discount.value != 0) {
                    giamgia = `
                        <div class="flex h-4">
                            <div class="m-0.25 opacity-100 text-gray-500 font-normal text-sm leading-4 overflow-hidden overflow-ellipsis line-through mt-1">
                                ${obj.price.main.text}
                            </div>
                            <div class="opacity-100 text-blue-500 font-normal text-sm leading-4 overflow-hidden overflow-ellipsis ml-2 mt-1">
                                -${obj.discount.value} ${(obj.discount.type == "%") ? "%" : "đ"}
                            </div>
                        </div>`;
                }

                $("#product").append(`
                    <div class="bg-white p-2 flex flex-col h-full">
                        <div class="relative w-full h-full p-2 flex flex-col bg-white justify-between">
                            <div class="relative flex-1 flex-grow-0 flex-shrink-0 mb-2">
                                <div class="relative mb-1">
                                    <div class="relative pb-[100%]">
                                        <div class="inline-block overflow-hidden h-full w-full transition-transform duration-300 ease-in-out absolute inset-0 object-contain">
                                            <a href="/${obj.path}/views">
                                                <img src="${obj.thumbnail[0].src}" class="absolute top-0 left-0 absolut w-full h-full object-contain" alt="${obj.thumbnail[0].alt}" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-1">
                                <div class="border-gray-300 opacity-100 text-gray-500 font-semibold text-base leading-[20px] overflow-hidden whitespace-nowrap overflow-ellipsis transition duration-300 ease-in-out delay-0s">
                                    ${obj.mark.name}
                                </div>
                            </div>
                            <div class="border-gray-300 opacity-100 text-gray-600 font-normal leading-4 overflow-hidden">
                                <a href="/${obj.path}/views">
                                    <h3 class="text-base font-normal leading-4 overflow-hidden truncate">
                                        ${obj.name}
                                    </h3>
                                </a>
                            </div>
                                <div class="relative mt-1 mb-1 pr-0 flex items-center">
                                    <div class="flex flex-col items-start h-12">
                                        <div class="opacity-100 text-blue-700 font-bold text-xl leading-6 overflow-hidden whitespace-normal overflow-ellipsis mt-1">
                                            ${obj.price.total.text}
                                        </div>
                                        ${giamgia}
                                    </div>
                                    <div class="ml-auto mr-3">
                                        <a href="/${obj.path}/views">
                                        <button class="w-8 h-8 text-[#1435c3] border-[1px] border-blue-400 rounded-full p-[11px] flex-shrink-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="7" width="7" style="transform: scale(2.5)">
                                                <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" fill="currentColor" />
                                            </svg>
                                        </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `);
            });
        }

    });
});


</script>
<%-include('layouts/end')%>
